<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
	{% if title == "Just the Browser" %}
		Just the Browser
	{% else %}
		{{ title }} - Just the Browser
	{% endif %}
	</title>
	<meta name="description" content="Remove AI features, telemetry data reporting, sponsored content, product integrations, and other annoyances from web browsers.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="language" content="English">
	<link rel="icon" type="image/png" href="/media/icon16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/media/icon32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/media/icon48.png" sizes="48x48">
	<!-- Styles -->
	<link rel="stylesheet" href="https://unpkg.com/simpledotcss@2.3.7/simple.min.css">
	<meta name="supported-color-schemes" content="dark light">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#2b2b2b">
    <meta name="theme-color" content="#f5f7ff">
	<style>
		td:nth-child(1) {  
			word-break: break-all;
		}
		nav a svg {
			margin-bottom: -.1rem;
			margin-right: .3rem;
		}
	</style>
	<![endif]-->
	<!-- Analytics -->
	<script defer data-domain="justthebrowser.com" src="https://plausible.io/js/plausible.js"></script>
	<!-- Embed card for social media and messaging -->
    <meta property="og:site_name" content="Just the Browser">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }} - Just the Browser">
    <meta property="og:description" content="Remove AI features, telemetry data reporting, sponsored content, product integrations, and other annoyances from web browsers.">
    <meta property="og:url" content="https://justthebrowser.com/" />
    <meta property="og:image" content="https://justthebrowser.com/media/preview.png">
    <meta name="og:image:alt" content="Screenshot of Microsoft Edge" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }} - Just the Browser">
    <meta name="twitter:description" content="Remove AI features, telemetry data reporting, sponsored content, product integrations, and other annoyances from web browsers.">
    <meta name="twitter:url" content="https://justthebrowser.com/">
    <meta name="twitter:image" content="https://justthebrowser.com/media/preview.png">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">
	<!-- RSS/Atom feed -->
	<link rel="alternate" type="application/rss+xml" title="Releases feed" href="https://github.com/corbindavenport/just-the-browser/releases.atom">
</head>

<body>

<header>
	<nav>
		<a href="/">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
  				<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
  				<path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
			</svg>
			Home
		</a>
		<a href="/browsers">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
				<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
				<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
			</svg>
			Get a Browser
		</a>
		<a href="/support">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
				<path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
			</svg>
			Support
		</a>
		<a href="https://github.com/corbindavenport/just-the-browser">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
				<path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
			</svg>
			GitHub
		</a>
	</nav>
	<h1>{{ title }}</h1>
</header>

<main>
{{ content | safe }}
</main>

<footer>
	Just the Browser is a project by <a href="https://corbin.io/" target="_blank">Corbin Davenport</a>. The code, documentation, scripts, and website are <a href="https://github.com/corbindavenport/just-the-browser" target="_blank">open-source on GitHub</a> under the MIT license.
</footer>

</body>

</html>