<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
	{% if title == "Just the Browser" %}
		Just the Browser
	{% else %}
		{{ title }} - Just the Browser
	{% endif %}
	</title>
	<meta name="description" content="Remove AI features, telemetry data reporting, sponsored content, product integrations, and other annoyances from web browsers.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="language" content="English">
	<link rel="icon" type="image/png" href="/media/icon16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/media/icon32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/media/icon48.png" sizes="48x48">
	<!-- Styles -->
	<link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">
	<meta name="supported-color-schemes" content="dark light">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#2b2b2b">
    <meta name="theme-color" content="#f5f7ff">
	<style>
		td:nth-child(1) {  
			word-break: break-all;
		}
	</style>
	<![endif]-->
	<!-- Analytics -->
	<script defer data-domain="justthebrowser.com" src="https://plausible.io/js/plausible.js"></script>
	<!-- Embed card for social media and messaging -->
    <meta property="og:site_name" content="Just the Browser">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }} - Just the Browser">
    <meta property="og:description" content="Remove AI features, telemetry data reporting, sponsored content, product integrations, and other annoyances from web browsers.">
    <meta property="og:url" content="https://justthebrowser.com/" />
    <meta property="og:image" content="https://justthebrowser.com/media/preview.png">
    <meta name="og:image:alt" content="Screenshot of Microsoft Edge" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }} - Just the Browser">
    <meta name="twitter:description" content="Remove AI features, telemetry data reporting, sponsored content, product integrations, and other annoyances from web browsers.">
    <meta name="twitter:url" content="https://justthebrowser.com/">
    <meta name="twitter:image" content="https://justthebrowser.com/media/preview.png">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">
</head>

<body>

	<header>
		{% if title != "Just the Browser" %}
			<nav>
				<a href="/">Return to Home page</a>
			</nav>
		{% endif %}
		<h1>{{ title }}</h1>
    </header>

	<main>
		{{ content | safe }}
	</main>
	<footer>
		Just the Browser is a project by <a href="https://corbin.io/" target="_blank">Corbin Davenport</a>. The code, documentation, scripts, and website are <a href="https://github.com/corbindavenport/just-the-browser" target="_blank">open-source on GitHub</a> under the MIT license.
	</footer>

</body>

</html>